name: pull-request

on:
  pull_request:
    branches:
      - master

jobs:
  ruff:
    name: ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
      - run: ruff check --fix
      - run: ruff format

  pyright:
    name: pyright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          version: latest
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
      - run: uv sync
      - run: uv run pyright

  test:
    name: test / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          version: latest
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
      - run: uv sync
      - run: uv run pytest --cov-report=term-missing:skip-covered -n=auto
    timeout-minutes: 60
